<ol>
    <% book.book_comments.each do |book_comment| %>
            <li >
                <div id="comment-style">
            <%= link_to book_comment.user.name, user_path(book_comment.user_id) %>
                <span class="comment-meta">
                     <span class="comment-date"><%= book_comment.created_at.strftime('%Y/%m/%d') %></span>
                <div class="comment-entry"><%= book_comment.comment %>
                <% if book_comment.user == current_user %>
                <%= link_to "削除", book_book_comments_path(book), method: :delete,remote: true, class: "btn btn-danger delete" %>
                <% end %>
                </span>
            </div>
            </li>
    <% end %>
</ol>
