<div id="comment_area">
	<div id="comments">
		<%= render 'comment', book: @book,book_comment: @book_comment %>
	</div>
	<div id="comments_form">
    	<%= form_with model:[@book,@book_comment], data: {emote: true}, id:'new_comment' do |f| %>
    		<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        	<br>
			<%= f.submit "コメント", class: "btn btn-primary" %>
		<% end %>
	</div>
</div>